html{
    height:100%;
    width:100%;
}

body{
    height:100%;
    background-color:rgba(191, 166, 214, 0.9);
    margin:0;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    text-decoration: none;
    color:white;
    transition-duration: 1s;
}

#navbar{
    width:50%; 
    height:20px;
    padding-bottom: 10px;
    z-index:1;
    position:absolute;
}

#navbar ul{
    width:100%;
    display: inline-flex;
    justify-content: space-between;
}

#navbar li{
    list-style-type: none;
    margin: 0;
    padding: 3px;    
}

#navbar li:hover{
    padding:3px;
    background-color: black;
    color: white;
    transition-duration: 1s;
}

#hero{
    background-image: url("images/book-flat.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}

#synopsis{
    height:100%;
    background-color:rgba(70,119,120,0.9);
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.inner-synopsis{
    margin-top:50px;
    height:85%;
    width: 42%;
    border-radius:8px;
}

.synopsis-flair{
    color:white;
    margin: 20% 7% 5% 7%;
}

.flair-para-body{
    display: flex;
    flex-direction:row;

}

.flair-para{
    font-size:25px;
    margin: 5% 2% 5% 12%;
}

.synopsis-para{
    color:white;
    margin: 20% 7% 20% 7%;
    font-size:23px;
    text-align:center;
}

.emphasis{
    font-size:45px;
    color:white;
}

.emphasis-end{
    font-size:45px;
    color:white;
}
.tab{
    margin-left:2em;
}

#inner-synopsis-left{
    background-color:black;
}

#inner-synopsis-right{
    background-color:black;
}

#reviews{
    background-color:rgb(193,223,225);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    display:flex;
}

.reviewer{
    background-color: aliceblue;
    height: 20rem;
    width: 20rem;
    margin: 3em;
    border-radius: 8px;
}

.reviewer-comment{
    margin:10%;
    font-size: 2em;
}

.reviewer-name{
    font-size:0.75em;
}