html{
    height:100%;
    width:100%;
}

body{
    height:100%;
    background-color:rgba(191, 166, 214, 0.9);
    margin:0;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    text-decoration: none;
    color:white;
    transition-duration: 1s;
}

#navbar{
    width:50%; 
    height:20px;
    padding-bottom: 10px;
    z-index:1;
    position:absolute;
}

#navbar ul{
    width:100%;
    display: inline-flex;
    justify-content: space-between;
}

#navbar li{
    list-style-type: none;
    margin: 0;
    padding: 3px;    
}

#navbar li:hover{
    padding:3px;
    background-color: black;
    color: white;
    transition-duration: 1s;
}

#hero{
    background-image: url("images/book-flat.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}

#synopsis{
    height:100%;
    background-color:rgba(70,119,120,0.9);
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.inner-synopsis{
    margin-top:50px;
    height:85%;
    width: 42%;
    border-radius:8px;
}

.synopsis-flair{
    color:white;
    margin: 20% 7% 5% 7%;
}

.flair-para-body{
    display: flex;
    flex-direction:row;

}

.flair-para{
    font-size:25px;
    margin: 5% 2% 5% 12%;
}

.synopsis-para{
    color:white;
    margin: 20% 7% 20% 7%;
    font-size:23px;
    text-align:center;
}

.emphasis{
    font-size:45px;
    color:white;
}

.emphasis-end{
    font-size:45px;
    color:white;
}
.tab{
    margin-left:2em;
}

#inner-synopsis-left{
    background-color:black;
}

#inner-synopsis-right{
    background-color:black;
}

#reviews{
    background-color:rgb(193,223,225);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#reviewer-box{
    height:100%;
    display:flex;
    justify-content:space-evenly;
    flex-direction:column;
}

.reviewer{
    background-color: aliceblue;
    height: 250px;
    width: 250px;
    border-radius: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.reviewer2{
    background-color: aliceblue;
    height: 250px;
    width: 250px;
    border-radius: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self:flex-end;
}

.reviewer-comment{
    font-size: 2em;
}

.reviewer-name{
    font-size:0.75em;
}

#review-image{
    height: 450px;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#purchase{
    height:100%;
    background-color:rgba(70,119,120,0.9);
    
}

.purchase-bubble-big{
    height: 500px;
    width:500px;
    border-radius:250px;
    background-color:rgb(193,223,225);
    position: relative;
    top: 80px;
    left: 550px;
}

.purchase-bubble-small{
    height: 200px;
    width:200px;
    border-radius:100px;
    background-color:rgb(240,248,255);
    position: relative;
    bottom: 400px;
    left: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bubble-small-comment{
    font-size:1.5em;
    font-style: bold;
    color:black;
    margin-left:15px;
}

#author{
    height:100%;
    background-color:rgba(193,223,225,0.9);
    display:flex;
    align-items:center;
}

/* Thank you: https://www.webfx.com/blog/web-design/circular-images-css/ */

.author-image{
    display:inline-block;
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
    z-index:1;
    margin-left:100px;
}

.author-image img{
    width: 150%;
    height: auto;
    margin-left:-40px;
}

.author-bio{
    background-color:black;
    height:300px;
    width: 500px;
    border-radius:40px;
    position:relative;
    margin-left:-95px;
}

.bio-text{
    color:white;
    margin: 30px 20px 20px 120px;
    font-size: 28px;
    line-height:34px;
}

.bio-name{
    font-size:34px;
    font-weight:bold;
}

#links{
    height:100%;
    background-color:rgba(70,119,120,0.9);
    display:flex;
    align-items: center;
}

#libby{
    height:200px;
    width:200px;
    position:relative;
    left:300px;
    bottom:160px;
    z-index:1;
}

.link-box{
    background-color:rgb(240,248,255);
    height:300px;
    width: 500px;
    border-radius:40px;
    position:relative;
    margin: 200px;
    display:flex;
    align-items:center;
}

.link-text{
    color:black;
    margin-left:80px;
    margin-right:80px;
    font-size: 28px;
    line-height:34px;
}

#footer{
    background-color:black;
    height:50%;
}

#footer-box{
    height:100%;
    display: flex;
    align-items:center;

}

#contact{
    padding:30px;
    color:white;
    display:flex;
    flex-direction:column;
}

#contact h4{
    margin:3px;
}

#contact p{
    margin-top:5px;
}

